<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Online Chess Club - rents get to come too.</title>
    <link rel="icon" href="images/logo-basic-matching.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body
          data-backend-endpoint="<%= ChessClubWeb.Endpoint.static_url() %>"
          data-socket-endpoint="<%= ChessClubWeb.Endpoint.socket_url() %>"
          data-auth-token="<%= @auth_token %>"
          >
    <script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
